.aboutUs {
  background: rgba(179, 231, 119, 0.1);
}

.aboutUs h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #0a2540;
}

.container {
  padding: 10px;
}

.container h3 {
  font-size: 1rem;
  font-weight: 700;
  color: #0a2540;
}

.profile {
  text-align: justify;
  margin: 20px auto;
}

.names {
  font-size: 1rem;
}

.programAreas {
  list-style-type: none;
  padding: 0;
}

.programAreas li {
  margin: 5px 0;
}

.team {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.card {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  padding: 10px;
}

.img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.names {
  font-size: 1rem;
  font-weight: 700;
  color: #0a2540;
  margin: 0;
}

.role {
  font-weight: bold;
  color: #444;
}

/* Scroll animation */
.animated {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Slide in from different directions */
.slideInFromLeft {
  transform: translateX(-20px);
}

.slideInFromRight {
  transform: translateX(20px);
}

.slideInFromBottom {
  transform: translateY(20px);
}

.visible.slideInFromLeft,
.visible.slideInFromRight,
.visible.slideInFromBottom {
  transform: translateX(0) translateY(0);
}

@media (max-width: 768px) {
  .aboutUs h1 {
    font-size: 1.5rem;
    color: rgb(14, 75, 136);
  }

  .team {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .names {
    font-size: 1rem;
  }

  .img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 5px;
  }
}
