.DisciplinesDiv {
  background-color: #0a2540;
  padding-bottom: 20px;
  padding-top: 20px;
}
.disp_summary {
  padding: 20px;
  margin: 50px;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 2cap rgba(0, 0, 0, 0.7);
}
.Disciplines {
  width: 110px;
  background-color: #d3d600;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}
.disp_summary h2 {
  padding-top: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #0a2540;
}
@media (max-width: 768px) {
  .disp_summary {
    margin: 30px;
  }
  .disp_summary h2 {
    font-size: 1.5rem;
    color: rgb(12, 60, 107);
  }
}
