.contact {
  background-color: #008000;
  color: white;
  padding: 3rem 1.5rem;
}

.contact .container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contact h2 {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
  color: black;
}

.contactGrid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.contact h3 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #008000;
}

.contact p {
  font-size: 1.025rem;
}

@media (max-width: 767px) {
  .contact {
    padding: 2rem 1rem;
  }

  .contact h2 {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }

  .contact h3 {
    font-size: 1.1rem;
  }

  .contact p {
    font-size: 0.95rem;
  }
}
