.containerX {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #008000;
  color: white;
  padding: 1rem 1.5rem;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.025rem;
}
.summary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
  padding: 20px;
}

@media (max-width: 768px) {
  .summary {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    width: 100%;
  }
}
