.testimonials {
  padding: 2rem 0;
  background-color: transparent;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  max-width: 1200px;
}

.testimonials h4 {
  color: #333;
  font-size: 1rem;
}

.testimonialTitle {
  width: 100%;
  max-width: 90%;
  background-color: #d3d600;
  font-weight: bold;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0 auto;
}

.p1 {
  color: #555;
  font-weight: bold;
}

.carouselContainer {
  position: relative;
  overflow: hidden;
  height: 300px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel {
  width: 100%;
  max-width: 800px;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: rgba(21, 202, 81, 0.2);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.prevButton {
  left: 2%;
}

.nextButton {
  right: 2%;
}

.card {
  padding: 0.5rem;
  width: 100%;
  max-width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  align-items: center;
  margin: 10px auto;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 20vw;
  max-width: 100px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 0.2rem;
}

.details {
  padding: 0.5rem;
}

.role {
  font-weight: bold;
}

.testimonialText {
  margin: 0;
  color: #444;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  text-align: center;
}

.names {
  font-size: 1rem;
  font-weight: 700;
  color: #0a2540;
  margin: 0;
}

@media (max-width: 768px) {
  .testimonialTitle {
    font-size: 0.9rem;
  }

  .card {
    max-width: 70%;
    padding: 1rem;
  }

  .role {
    font-weight: bold;
    font-size: 0.8rem;
  }

  .testimonialText {
    margin: 0;
    color: #444;
    font-size: 0.8rem;
    text-align: center;
  }

  .names {
    font-size: 1rem;
    font-weight: 700;
    color: #0a2540;
    margin: 0;
  }

  .card img {
    width: 20vw;
    max-width: 80px;
  }

  .p1 {
    color: #555;
    width: 100%;
    padding: 5px;
  }
}
