.testimonials {
  padding: 1rem 0;
  background: rgb(179, 231, 119, 0.1);
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  width: 100%;
}

.testimonialTitle {
  width: 310px;
  background-color: #d3d600;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.2rem;
}
.details {
  padding-left: 20px;
}
.role {
  font-weight: bold;
}
.testimonialText {
  margin: 1rem 0;
  color: #444;
  display: flex;
  flex-direction: column;
}
.img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}
.names {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0a2540;
  margin: 0px;
}
@media (max-width: 768px) {
  .row {
    grid-template-columns: repeat(auto-fit, minmax(300px, 5fr));
  }
  .testimonialTitle {
    font-size: 1.1rem;
  }
  .testimonialText {
    font-size: 0.8em;
  }
  .img {
    width: 90px;
    height: 90px;
  }
  .names {
    font-size: 1.2rem;
    color: rgb(13, 73, 133);
  }
}
