.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 0 1rem; /* Added padding to ensure spacing around the header content */
}

.logoContainer {
  display: flex;
  align-items: center;
  flex: 1; /* Ensures the logo container takes available space */
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0; /* Adjusted margin for vertical alignment */
}

.LogoPic {
  width: 50px;
  height: 30px;
  margin-right: 10px;
}

.linkX img {
  width: 22px;
  height: 22px;
}

.menuButton {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
}

.menuButton svg {
  width: 24px;
  height: 24px;
}

/* Mobile menu */
.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(21, 53, 37, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.mobileMenu.open {
  transform: translateX(0);
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: rgb(255, 255, 255, 0.9);
  cursor: pointer;
}

.mobileMenu .navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileMenu .navList {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.mobileMenu .link {
  color: #fff;
  font-size: 1.5rem;
  margin: 1rem 0; /* Adjusted spacing between links */
  text-decoration: none;
  border-radius: 15px;
  padding: 0.1rem 1rem; /* Added padding for better click area and spacing */
  transition: background-color 0.3s, color 0.3s;
}

.mobileMenu .link:hover {
  color: rgb(14, 214, 114);
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 1.475rem;
}

@media (max-width: 769px) {
  .HeaderTitle {
    font-size: 1.1rem;
  }
}

/* Adjustments for larger screens */
@media (min-width: 769px) {
  .navigation {
    display: flex;
    align-items: center; /* Ensure items are centered vertically in the header */
  }

  .menuButton {
    display: block; /* Ensure menuButton is visible in full screen */
  }
}
